:root {
    --color-bg: #e6e2d3;  /* main page background*/
    --color-surface: #dac292; /* cards / secondary areas*/
    --color-accent:#b9936c; /* accent / navbar / buttons / highlights*/
    --color-accent-dark: #6f4e37;
    --color-muted:#c4b7a6; /* borders / muted sections*/
    --color-text: #000000; /* primary text*/
    --space-small: 0.5rem;
    --space-medium: 1rem;
    --space-large: 2rem;

    --text-small: 0.875rem;
    --text-base: 1rem;
    --text-medium: 1.25rem;
    --text-large: 1.5rem;
    --text-xlarge: 2rem;
}
*, *::before, *::after {box-sizing: border-box;}

html{
    font-size: 100%;
}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--text-base);
    line-height: 1.5;
    margin: 0%;
}

main{
    max-width: 65ch;
    margin: 0 auto;
    padding: var(--space-medium);
}

h1{
    font-size: var(--text-xlarge);
    margin: var(--space-medium) 0;
}

h2{
    font-size: var(--text-large);
    margin: var(--space-medium) 0;
}

h3{
    font-size: var(--text-medium);
    margin: var(--space-medium) 0;
}

p{
    font-size: var(--text-base);
    margin: var(--space-medium) 0;
}

a{
    color: var(--color-text);
    text-decoration: underline;
    text-underline-offset: auto;
    transition: color 0.2s;
}

@media(hover: hover) {
    a:hover{
        color: var(--color-accent-dark);
    } 
}

a:focus-visible{
    outline: 2px dashed var(--color-text);
    outline-offset: 2px;
}

header{
    background-color: var(--color-accent);
    padding: 0 var(--space-medium) var(--space-small);
}

nav ul{
    max-width: 36rem;
    margin: 0 auto;

    list-style: none;
    padding: 0;

    display: flex;
    justify-content: space-between;
    gap: var(--space-medium);

    align-items: center;

}

nav a {
    display: inline-block;
    padding: var(--space-small);
}

nav a[aria-current="page"] {
    font-weight: 800;
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    text-decoration-thickness: 2px;
}